.gallery{
    transition: transform 1000ms cubic-bezier(.19,1,.22,1);
    &__wrap{
      width: 90%;
      overflow: hidden;
      opacity: 0;
      transition:width 2s cubic-bezier(.19,1,.22,1) 1000ms, opacity 1500ms cubic-bezier(.19,1,.22,1) 1000ms;
      
    }
    &__link{
        opacity: .75;
        transition:opacity .1s linear;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        &--activated{
            opacity: 1;
        }
    }
}
.activated{
    width: 100%;
    opacity: 1
}
.separator{
    height: 7px;
    background: none;
    width: 50px;
    border: 1px solid white;
    transition:width 2s cubic-bezier(.19,1,.22,1), opacity 2s cubic-bezier(.19,1,.22,1);
    opacity: 0;
    margin-bottom: 25px;
    margin-left: 7px;

}
.separator--activated{
    opacity:1;
    width: 120px;
}