<router-outlet>

    </router-outlet>
   
<div class="row w-100 h-90" *ngIf="route == '/portfolio'">
  
    <div class="col-lg-5 h-100 d-flex flex-column justify-content-end">

        <div  class="gallery__link" *ngFor="let entry of portfolioEntries[0].concat(portfolioEntries[1]); let i = index" [ngClass]="{'gallery__link--activated': highlighted === i}">
            <app-animated-text (mouseenter)="onLinkHover(i)"  [headers]="[[entry.name]]" (click)="onSelect(entry.name)"></app-animated-text>
            <div class="separator" [ngClass]="{'separator--activated': highlighted === i}"></div>
        </div>

    </div>
    <div class="col-lg-6 h-100 overflow-hidden">

        <div appMouseWheel #gallery (mouseWheelUp)="scrollUp()" (mouseWheelDown)="scrollDown()" class="gallery" [ngStyle]="{'transform' : 'translateY(-' + scrollValue + 'px)'}" >
            <div class="row">


                <div class="col-lg-6 px-2">
                    <div #column class="gallery__column">
                        <app-galllery-entry #galleryEntry  *ngFor="let entry of portfolioEntries[0] ; let i = index" (mouseenter)="highlight(i)" (mouseleave)="highlight(null)" [entry]="entry" [imgWidth]="column.offsetWidth" [visible]="highlighted == i" (click)="onSelect(entry.name)">

                        </app-galllery-entry>

                    </div>
                </div>
                <div class="col-lg-6 px-2">
                    <div class="gallery__column">
                        <app-galllery-entry #galleryEntry *ngFor="let entry of portfolioEntries[1]; let i = index" [entry]="entry" [imgWidth]="column.offsetWidth" [visible]="highlighted == i + portfolioEntries[0].length">

                        </app-galllery-entry>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>