<div class="row">
  <div class="col-lg-5 h-90 d-flex flex-column justify-content-end">

    <app-animated-text [separator]="true" [headers]="[['Aleksander','Pilarski']]" [paragraphs]="['Freelance front-end web-developer located in Wroclaw, Poland. Working mostly using Angular 9, but flexible depending on required technological stack, constantly learning new technologies and updating his knowledge.  I am experienced in Web-Design and modern design patterns, coming from artistic background illustrations/concept art. ']" extra=' <div class="row mt-4">
      <div class="col-lg-4 d-flex flex-column">
        <div class="">
          <p class="paragraph__bold m-0">- Angular 9</p>
          <p class="paragraph__small m-0">+ NgRx</p>
          <p class="paragraph__small m-0">+ Angular Material</p>
        </div>
        
     
        <div class="">
          <p class="paragraph__bold m-0">- MySQL</p>
        </div>
        <div class="">
          <p class="paragraph__bold m-0">- Jest</p>
        </div>
       

      </div>
      <div class="col-lg-4 d-flex flex-column">
        <div class="">  <p class="paragraph__bold m-0">- React</p>
          <p class="paragraph__small m-0">+ Redux</p></div>
          <div class=""><p class="paragraph__bold m-0">- Node.js</p>
            <p class="paragraph__small m-0">+ REST API</p>
            <p class="paragraph__small m-0">+ WebSockets</p></div>
            
            
        
      </div>
      <div class="col-lg-4 d-flex flex-column">
       
      </div>
    </div>'>
    </app-animated-text>

   

  </div>
  <div class="col-lg-7">
  
  </div>
</div>