<div class="gallery__wrap mt-2 pointer" [ngClass]="{'activated': initialized}">
        <div class="gallery__cover d-flex flex-column align-items-center"  [ngClass]="{'nonTransparent': visible}">
                <div class="animMask mt-4">
                <h2 class="header__h2" [ngClass]="{'visible': visible}">{{entry.name}}</h2>
        </div>  
                <div class="animMask">
                                <div class="d-flex animatedDown" [ngClass]="{'visible': visible}">
                                       
                                                <h2 *ngFor="let tag of entry.tags" class="paragraph__smallTag mx-1">{{tag}}</h2>
                                        </div>
                </div>
                
                <img class="gallery__coverIMG" [width]="imgWidth" src='{{ "assets/images/" + entry.img + "-bw" + ".jpg" }}'>
        </div>

        <img [width]="imgWidth" src='{{ "assets/images/" + entry.img + ".jpg" }}' alt="">
</div>