.gallery{
    &__wrap{
      width: 90%;
      overflow: hidden;
      position: relative;
      opacity: 0;
      transition:width 2s cubic-bezier(.19,1,.22,1) 300ms, opacity 1500ms cubic-bezier(.19,1,.22,1) 300ms;
      
    }
    &__cover{
        position: absolute;
        background: black;
        opacity: 0;
        transition:opacity 1s cubic-bezier(.19,1,.22,1);
        
    }
    &__coverIMG{
        opacity: 0;
        
    }
}
.visible{
    opacity: 1;
}
.activated{
    width: 100%;
    opacity: 1
}
.nonTransparent{
    opacity: 1;
}
.animatedDown{
    transform: translateY(95px) skewY(3deg);
    transition: transform 2s cubic-bezier(.19,1,.22,1) .1s;
}

img{
  

}