<div *ngFor="let header of headers[0]; let i = index" class="animMask" >
    <h1 class="header__h1" [ngStyle] = "{'transition': !reverseAnims ? calculateTimeout(i, false) : calculateTimeout(i, true) }" [ngClass]="{'visible': initialized}">{{header}}</h1>
</div>

<div class="tags mt-2 animMask">
    <p *ngFor="let tag of tags; let i = index" class="paragraph__tag mr-2" [ngStyle] = "{'transition': !reverseAnims ? calculateTimeout(i, false) : calculateTimeout(i, true) }" [ngClass]="{'visible': initialized}">{{tag}}</p>

</div>
<div *ngIf="separator" class="separator mb-3" [ngClass]="{'separator--activated': initialized}" [ngStyle] = "{'transition': !reverseAnims ? calculateSeparatorTimeout(false) : calculateSeparatorTimeout(true)}"></div>
<p *ngFor="let paragraph of paragraphs" class="paragraph__regular paragraph__animated" [ngStyle] = "{'transition': !reverseAnims ? calculateParagraphTimeout(false) : calculateParagraphTimeout(true)}" [ngClass]="{'paragraph__visible': initialized}">{{paragraph}}</p>
<div class="paragraph__animated" [innerHTML]="extra" [ngStyle] = "{'transition': !reverseAnims ? calculateParagraphTimeout(false) : calculateParagraphTimeout(true)}" [ngClass]="{'paragraph__visible': initialized}"></div>

